* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

header,
footer {
  width: 100%;
}
main {
  margin: 0 auto;
}

header {
  max-width: 1288px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 14px;
}
div .logo {
  margin: 0;
}

header .logo img {
  margin-right: 10px;
  margin-top: 19px;
  width: 285px;
  height: 72px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 608px;
  gap: 32px;
  padding: 0px;
  margin-top: 25px;
}

header nav ul li a {
  margin-right: 32px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

header nav ul li a:last-child {
  margin-right: 0;
}

#current-page,#current-page-footer {
  font-weight: bold;
  color: #3980ff;
}


header div.contacts p#phone strong {
  font-size: 20px;
  color: #4386ff;
  line-height: 150%;
}
header .contacts {
  margin-right: 0px;
  margin-top: 18px;
}

header .contacts p {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
  align-items: start;
}

header .social-media {
  display: flex;
  gap: 11px;
  margin-top: 18px;
  padding: 0;
}

.social-media img {
  width: 48px;
  height: 48px;
}

body {
  overflow-x: hidden;
}

.container {
  background-color: #fef4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1793px;
  border-radius: 27px;
  height: auto;
  padding: 0;
}
main {
  max-width: 1288px;
  width: 100%;
  margin-top: 0;
}
.title {
  margin-top: 24px;
  padding-left: 0;
}

.title h1 {
  font-size: 55px;
  margin: 0;
}
main {
  margin-top: 36px;
}
main p {
  margin-top: 30px;
  font-size: 20px;
  padding-left: 0;
  line-height: 150%;
}
.main-container {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #3980ff;
  max-width: 407px;
  min-height: 529px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.block-info {
  color: white;
  font-size: 22px;
  padding: 33px;
  height: auto;
}

.block-info h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.block-info p {
  letter-spacing: 0;
  margin-top: 50px;
}
footer {
  max-width: 1175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 111px;
  margin: 65px 265px 45px 353px;
}

footer .logo img {
  margin-right: 70px;
  margin-left: 200px;
  width: 285px;
  height: 72px;
}

footer nav {
  margin: 0;
  max-width: 172px;
}

footer nav ul {
  list-style: none;
  flex-direction: column;
  padding: 0px;
}

footer nav ul li a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

footer .contacts {
  margin-top: 12px;
  margin-right: 20px;
}

footer .contacts p {
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  align-items: start;
}

footer .social-media {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media (max-width: 1280px) {
  header,
  main,
  footer {
    max-width: 90%;
  }

  header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    gap: 20px;
  }
  footer {
    margin: 5%;
  }
}

@media (max-width: 1023px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #3980ff;
    max-width: 407px;
    min-height: 529px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-size: 16px;
  }

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .contacts {
    margin: 10px auto;
  }

  header .logo img {
    width: 200px;
    height: auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav ul {
    padding: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  nav ul li a {
    font-size: 14px;
  }
  header nav ul li:last-child {
    text-align: center;
  }
  header .contacts p {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: start;
  }

  div .contacts {
    margin: auto auto;
  }
  #phone {
    font-size: 18px;
  }

  .title h1 {
    font-size: 36px;
  }
  div .social-media {
    margin-top: 0;
  }
  .social-media img {
    width: 36px;
    height: auto;
  }

  main p {
    font-size: 16px;
  }

  .main-container {
    flex-direction: column;
    margin: 5%;
  }

  main {
    margin-top: 0;
    padding: 5%;
  }
  .title {
    margin-top: 0;
  }

  div.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    height: auto;
  }

  .block-info {
    margin: 0;
    padding: 5%;
  }
  .block-info p {
    margin-top: 5%;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px;
    font-size: 174px;
  }

  header div.contacts p#phone strong {
    font-size: 18px;
  }

  main p {
    font-size: 14px;
  }
  .title h1 {
    font-size: 28px;
  }

  .block {
    padding: 5%;
  }

  .block-info {
    font-size: 14px;
  }
  .block-info h2 {
    font-size: 1.7rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}
