* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
}

.container {
  background-color: #fef4ff;
  border-radius: 27px;
  padding: 0;
  max-width: 1793px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*header*/
header {
  max-width: 1288px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 14px;
}

header .logo img {
  margin-right: 10px;
  margin-top: 19px;
  width: 285px;
  height: 72px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 608px;
  gap: 32px;
  padding: 0px;
  margin-top: 25px;
}

header nav ul li a {
  margin-right: 32px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

header nav ul li a:last-child {
  margin-right: 0;
}

#current-page,#current-page-footer {
  font-weight: bold;
  color: #3980ff;
}

header .contacts {
  margin-right: 0px;
  margin-top: 18px;
}

header .contacts p {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  align-items: start;
}

header .social-media {
  display: flex;
  gap: 11px;
  margin-top: 18px;
}

.social-media img {
  width: 48px;
  height: 48px;
}
header div.contacts p#phone strong {
  font-size: 20px;
  color: #4386ff;
  color: #4386ff;
  font-size: 20px;
  line-height: 150%;
}
/*main*/

main {
  background-color: #3980ff;
  border-radius: 20px;
  width: 100%;
  color: white;
  max-width: 1733px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main h1 {
  margin-top: 61px;
  margin-bottom: 88px;
  font-size: 55px;
  font-weight: 300;
}

main h3 {
  margin: 0;
  margin-left: 7px;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  max-width: 1290px;
  margin: 0 auto;
}

/*.item {
  max-height: 309px;
  margin-bottom: 40px;
}*/

.item {
  max-height: 309px;
  max-width: 300px;
  flex: 1 1 300px;
  margin-bottom: 40px;
}

.item img {
  width: 300px;
  height: 129px;
  margin-bottom: 10px;
}

.image-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.point-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.point {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #0c4ab3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.image-desc p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 21px;
  font-size: 15px;
  text-align: left;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 129px;
  background-color: #eb5757;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button:hover {
  background-color: #f34141;
}

/*footer*/

footer {
  max-width: 1175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 111px;
  margin: 65px 265px 45px 353px;
}

footer .logo img {
  margin-right: 70px;
  margin-left: 200px;
  width: 285px;
  height: 72px;
}

footer nav {
  margin: 0;
  max-width: 172px;
}

footer nav ul {
  list-style: none;
  flex-direction: column;
  padding: 0px;
}

footer nav ul li a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

footer .contacts {
  margin-top: 12px;
  margin-right: 20px;
}

footer .contacts p {
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  align-items: start;
}

footer .social-media {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media (max-width: 1280px) {
  header,
  footer {
    max-width: 90%;
  }

  main {
    max-width: 100%;
  }

  header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  header nav ul {
    gap: 20px;
  }
  footer {
    margin: 5%;
  }
}

@media (max-width: 1023px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  main h1 {
    font-size: 50px;
    margin: 45px auto;
  }

  .button {
    width: 95%;
    padding: 0;
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-size: 16px;
  }

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .contacts {
    margin: 10px auto;
  }

  header .logo img {
    width: 200px;
    height: auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav ul {
    padding: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  nav ul li a {
    font-size: 14px;
  }

  header nav ul li:last-child {
    text-align: center;
  }

  div .contacts {
    margin: auto auto;
  }

  #phone {
    font-size: 18px;
  }

  .title h1 {
    font-size: 36px;
  }

  div .social-media {
    margin-top: 0;
  }

  .social-media img {
    width: 36px;
    height: auto;
  }

  main {
    height: auto;
  }

  main h1 {
    font-size: 45px;
    margin: 40px auto;
  }

  main p {
    font-size: 16px;
  }

  .grid {
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 100%;
    max-height: fit-content;
    margin-bottom: 20px;
  }

  .button {
    width: 90%;
    padding: 0;
    height: 90px;
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px;
    font-size: 174px;
  }
  header div.contacts p#phone strong {
    font-size: 18px;
  }
  main h1 {
    font-size: 40px;
    margin: 30px auto;
  }

  main p {
    font-size: 14px;
  }

  .button {
    width: 85%;
    padding: 0;
    height: 85px;
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}
