* {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header,
footer {
  width: 100%;
}

main {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
header {
  margin: 0 auto;
  max-width: 1288px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
div .logo {
  margin: 0;
}
header .logo img {
  margin-right: 10px;
  margin-top: 19px;
  width: 285px;
  height: 72px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 608px;
  gap: 32px;
  padding: 0px;
  margin-top: 25px;
}

nav ul li a {
  margin-right: 32px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

nav ul li a:last-child {
  margin-right: 0;
}

#current-page {
  font-weight: bold;
  color: #3980ff;
}
header div.contacts p#phone strong {
  font-size: 20px;
  color: #4386ff;
  line-height: 150%;
  color: #4386ff;
  font-size: 20px;
  line-height: 150%;
}
header .contacts {
  margin-right: 0px;
  margin-top: 18px;
}

header .contacts p {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  align-items: start;
}

header .social-media {
  display: flex;
  gap: 11px;
  padding: 0;
  margin-top: 18px;
}

.social-media img {
  width: 48px;
  height: 48px;
}

/* main*/
.container {
  background-color: #fef4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1793px;
  border-radius: 27px;
  height: auto;
  padding: 0;
}

.main-container h1 {
  font-size: 55px;
  max-height: 114px;
  max-width: 702px;
  font-weight: bold;
  margin: 79px auto auto auto;
  text-align: center;
}
.main-container h3 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.pricing-grid {
  max-width: 1350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
  box-sizing: border-box;
}
.pricing-card {
  max-width: 421px;
  width: 100%;
  height: 503px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto auto;
  min-height: 424px;
}
.heading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.heading img {
  width: 40px;
  height: 51px;
  margin-right: 10px;
}
#icon1 {
  margin-right: 15px;
}
.heading h2 {
  margin: 0;
  font-size: 24px;
  color: #000;
  padding-bottom: 1px;
}

.card-content ul {
  list-style-type: none;
  padding: 0;
  width: 300px;
}
.card-content ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-content ul li span,
.card-content ul li img {
  margin: 8.5px 0;
  font-size: 16px;
  color: #000;
}
.card-content ul li img {
  width: 21px;
  height: 21px;
}
h2.cost {
  font-size: 24px;
  font-weight: bold;
  margin: 41px 0 18px 0;
  text-align: center;
}

.order {
  background-color: white;
  color: #3980ff;
  border: 1px solid #3980ff;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  height: 73px;
  width: 278px;
  margin-bottom: 0;
  padding: auto;
  box-sizing: content-box;
  align-self: center;
}

.order:hover {
  background-color: #3980ff;
  color: white;
}
footer {
  max-width: 1175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 111px;
  margin: 118px 265px 45px 353px;
}

footer .logo img {
  margin-right: 70px;
  margin-left: 200px;
  width: 285px;
  height: 72px;
  margin-top: 5px;
}

footer nav {
  margin: 0;
  max-width: 172px;
}

footer nav ul {
  list-style: none;
  flex-direction: column;
  padding: 0px;
}

footer nav ul li a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

footer .contacts {
  margin-top: 12px;
  margin-right: 20px;
}

footer .contacts p {
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  align-items: start;
}

footer .social-media {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media (max-width: 1280px) {
  header,
  main,
  footer {
    max-width: 90%;
  }

  header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    gap: 20px;
  }
  .pricing-grid {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    margin-top: 57px;
  }

  footer {
    margin: 5%;
  }
}

@media (max-width: 1023px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    align-items: center;
    margin: 5%;
  }
  .main-container h1 {
    margin: 5%;
    font-size: 2.5rem;
  }
  .main-container h3 {
    margin-top: 0px;
  }
  .pricing-grid {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    margin-top: 57px;
  }

  .pricing-card {
    width: 100%;
    height: 503px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .card-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto auto;
    min-height: 424px;
  }
  .heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
  }

  .heading img {
    width: 40px;
    height: 51px;
    margin-right: 10px;
  }
  #icon1 {
    margin-right: 15px;
  }
  .heading h2 {
    margin: 0;
    font-size: 24px;
    color: #000;
    padding-bottom: 1px;
  }

  .card-content ul {
    list-style-type: none;
    padding: 0;
  }
  .card-content ul li {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .card-content ul li span,
  .card-content ul li img {
    margin: 8.5px 0;
    font-size: 16px;
    color: #000;
  }
  .card-content ul li img {
    width: 21px;
    height: 21px;
  }
  h2.cost {
    font-size: 24px;
    font-weight: bold;
    margin: 41px 0 18px 0;
    text-align: center;
  }

  .order {
    background-color: white;
    color: #3980ff;
    border: 1px solid #3980ff;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    height: 73px;
    width: 278px;
    margin-bottom: 0;
    padding: auto;
    box-sizing: content-box;
    align-self: center;
  }

  .order:hover {
    background-color: #3980ff;
    color: white;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-size: 16px;
  }

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .contacts {
    margin: 10px auto;
  }

  header .logo img {
    width: 200px;
    height: auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav ul {
    padding: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  nav ul li a {
    font-size: 16px;
  }
  header nav ul li:last-child {
    text-align: center;
  }
  div .contacts {
    margin: auto auto;
  }
  #phone {
    font-size: 18px;
  }

  div .social-media {
    margin-top: 0;
  }
  .social-media img {
    width: 36px;
    height: auto;
  }
  .title h1 {
    font-size: 36px;
  }

  .main-container h1 {
    margin: 5%;
    font-size: 1.8rem;
  }
  .main-container h3 {
    margin: 5%;
    text-align: left;
  }

  .pricing-grid {
    margin: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing-card {
    height: 80%;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .heading {
    margin-top: 5%;
  }
  .heading img {
    width: 30px;
    height: auto;
  }

  .card-content {
    width: 90%;
  }
  .card-content ul {
    width: 100%;
  }

  .card-content ul li {
    font-size: 1rem;
  }
  h2.cost {
    margin-top: 5%;
  }
  button.order {
    width: 80%;
    margin: 5%;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 10px;
    font-size: 174px;
  }
  header div.contacts p#phone strong {
    font-size: 18px;
  }

  .main-container h1 {
    margin: 10%;
    font-size: 1.8rem;
  }
  .main-container h3 {
    margin: 5%;
  }

  .pricing-grid {
    margin: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pricing-card {
    height: 80%;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .heading {
    margin-top: 5%;
  }
  .heading img {
    width: 30px;
    height: auto;
  }

  .card-content {
    width: 90%;
  }
  .card-content ul {
    width: 100%;
  }

  .card-content ul li {
    font-size: 1rem;
  }
  h2.cost {
    margin-top: 10%;
  }
  button.order {
    width: 80%;
    margin: 5%;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }

  footer .logo img {
    margin: 0;
    width: auto;
    height: 52px;
  }

  footer nav {
    margin: 10px 0;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .contacts {
    margin-top: 10px;
  }

  footer .social-media {
    flex-direction: row;
  }
}
